:root{
  --w:84px;
}
html{
  display:flex;
  align-content: center;
  justify-content: center;
}
body{
  max-width:1000px;
  width:calc(100vw - 100px);
  height:calc(100vh - 100px);
  margin: 50px auto;
  display:flex;
  flex-direction: column;
  gap:25px;
}
#darkbackground,#lightbackground,#bgblur{
  width:100vw;
  height:100vh;
  position:fixed;
  inset:0px;
  object-fit:cover;
  object-position: center;
}
h1,.tile span{
  color:var(--colour);
  transition:color .2s !important;
}
#bgblur{
  background:rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(25px) saturate(2);
  z-index:-2;
  transition:background .2s, filter .2s;
}
@media (prefers-color-scheme: dark) {
  #bgblur{
    background:rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(25px) saturate(1.5);
  }
  #darkbackground{
    opacity:1 !important;
  }
  h1,.tile span{
    color:var(--dark) !important;
  }
}
#darkbackground{
  z-index:-4;
  transition:opacity .3s ease;
  opacity:0;
}
#lightbackground{
  z-index:-5;
}
tiles{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}
.tile{
  display: flex;
  width:84px;
  flex-direction: column;
  align-items:center;
  text-decoration:none;
}
.tile span{
  font-family:Inter;
  font-weight:400;
  font-size:15px;
  overflow: hidden;
  text-align:center;
  line-height:18px;
  word-wrap:break-word;
  max-width:var(--w);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2; 
  -webkit-box-orient: vertical;
}
.tile img{
  width:var(--w);
  height:var(--w);
  transition:filter .2s;
  filter: drop-shadow(0px 0px 3px #0000005e);
}
body.he .tile:hover img{
  filter:brightness(0.7);
}
h1{
  font-family:inter;
  font-weight:700;
  font-size:30px;
  margin:0px;
}